{% extends "destinationsApp/index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Destination</title>
    <link rel="stylesheet" href="{% static 'destinationsApp/style.css' %}">
</head>
<body>
    {% block title %}New Destination{% endblock %}

    {% block header %}
    <header id="header">
      <a href="/"><h1>Destinations</h1></a>
    </header>
    {% endblock %}

    {% block body %}
    <h2 class="table-header">Edit Destination</h2>
    <div>
      <form class="form" action="/destinations/{{ id }}/" method="post">
        <label>Destination</label>
        <input type="text" name="destination" id="destination" value="{{ destination }}">
        <label>Review</label>
        <input type="text" name="review" id="review" value="{{ review }}">
        <label>Rating</label>
        <input type="number" name="rating" id="rating" value="{{ rating }}">
        <label>Share Publicly? (y/n) </label>
        <input type="text" name="share_publicly" id="share_publicly" value="{{ share }}">
        <button>Submit</button>
      </form>
    </div>
    {% endblock %}
</body>
</html>